@{
    ViewBag.Title = "Prescription";
    Layout = Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="content">
    <input type="text" style="visibility:hidden;" id="AppID" value="@ViewBag.AppID" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Prescription</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">Doctor:</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="card-title"><b id="Doc"></b></h4>
                                        </div>
                                    </div>
                                    <hr style="margin: 0;" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">Department:</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="card-title"><b id="Dep"></b></h4>
                                        </div>
                                    </div>
                                    <hr style="margin: 0;" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">Email</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="card-title text-dark"><b id="Email"></b></h5>
                                        </div>
                                    </div>
                                    <hr style="margin: 0;" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">Date</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="card-title text-dark" id="Date"></p>
                                        </div>
                                    </div>
                                    <hr style="margin: 0;" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">TimeSlot</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="card-title text-dark" id="Slot"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" id="img" src="" />
                        </a>
                    </div>
                    <div class="card-body">

                        <h4 class="card-title" id="Patient"></h4>
                        <p class="card-description" id="ph"></p>
                        <h6 class="card-category text-dark" id="pEmail"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class=" card-header card-header-info">
                        <span> Medication</span>

                        
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive " id="MedList">

                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-left">

                        </div>
                        
                        <div class="col-lg-3 text-left">
                            <div class="text-center">
                                <a href="/Invoice/InvoiceIndex?AppId=@ViewBag.AppID" class="btn btn-info btn-fill btn-wd" id="submit">Make Reciept</a>
                            </div>
                        </div>
                        <div class="col-lg-3 text-left">
                            <div class="text-center">
                                <a href="#" class="btn btn-info btn-fill btn-wd" id="Cancel">Back</a>
                            </div>
                        </div>

                    </div>
                    <br />
                </div>
            </div>

        </div>
    </div>
</div>
<script src="../../assets/js/moment.min.js"></script>
<script src="../../assets/js/fullcalendar.min.js"></script>
<script src="../../assets/js/sweetalert2.js"></script>
<script src="../../assets/js/bootstrap-datetimepicker.js"></script>



<script>
    $(document).ready(function () {
        var ID = parseInt($("#AppID").val());
        var MedsDetails = [];
        var DoctorID;
        var PatientID;
        GetAppointmentDetails();

        //get DeliveredOrders
        //id's Doc Dep Email  Date Slot  Patient ph pEmail
        function GetAppointmentDetails() {
            $.get("/PharmAppointment/AppointmentDetails", { id: ID }, function (data) {
                $.each(data, function (index, row) {
                    $("#Doc").text(row.DoctorName);
                    DoctorID = parseInt(row.DoctorID);
                    PatientID = parseInt(row.PatientID);
                    $("#Dep").text(row.Designation);
                    $("#Email").text(row.DoctorEmail);
                    $("#Date").text(moment(row.Date).format("MM/DD/YYYY"));
                    $("#Slot").text(row.TimeSlot);
                    $("#Patient").text(row.PatientName);
                    $("#ph").text(row.PatientContact);
                    $("#pEmail").text(row.PatientEmail);
                    $("#img").attr("src", row.PatientImage);
                    $("#Desc").attr("value", row.Description);

                })

            })
            GetMedicationDetails();
        }

        function GetMedicationDetails()
        {
            $.get("/PharmAppointment/MedicationDetails", { id: ID}, function (data){
                $.each(data, function (index, row) {
                    MedsDetails.push({
                        MedType: row.MedType,
                        MedName: row.MedName,
                        Strength: row.Strength,
                        Duration: row.Duration,
                        Dose : row.Dose
                    })
                })
                GeneratedItemsTable();
            })

        }

        //generate table
        function GeneratedItemsTable() {
            alert("inside table")
            if (MedsDetails.length > 0) {
                var $table = $('<table/>').addClass("table ");
                $table.append('<thead><tr><th>Type</th><th>Med</th><th>Strength</th><th>Duration</th><th>Dose</th></tr></thead>');
                var $tbody = $('<tbody/>');
                $.each(MedsDetails, function (i, val) {
                    var $row = $('<tr/>');
                    $row.append($('<td/>').html(val.MedType));
                    $row.append($('<td/>').html(val.MedName));
                    $row.append($('<td/>').html(val.Strength));
                    $row.append($('<td/>').html(val.Duration));
                    $row.append($('<td/>').html(val.Dose));
                    $tbody.append($row);
                });
              
                $table.append($tbody);
                $('#MedList').html($table);
               

            }
            else {
                $('#MedList').html('');
            }
        }
    })
</script>
